#set($!title = "$!{displayName}, you've received a challenge")
#parse('lobby/header.vm')
#parse('lobby/challenge-copy.vm')

<!--start body-->
<tr>
    <td colspan="4" valign="top">
        <img src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/no-article-top.jpg" width="700" height="7" alt="" style="vertical-align:top;"/>
    </td>
</tr>
<tr>
    <td height="25"></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td><a href="$!targetUrl" style="text-decoration: none;"><font
            style="font-family:Helvetica, Arial, sans-serif; font-size: 18px;"
            face="Helvetica Arial" size="5">
        <b >
            <font color="#E72020" style="color: #E72020;">READY FOR SOME <font color="#E87100" style="color: #E87100;">FUN?</font></font>
        </b></font></a></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td valign="top">
        <p style="margin: 0; padding: 0 0 15px 0;"><font
                style="line-height:20px;font-size:16px;font-family:Helvetica, Arial, sans-serif;color:#707070;"
                >$!copy
        </font></p>
        <br/>
        <a href="$!targetUrl"><img src="http://cdn.yazino.com/email-content/transactional/20120927T000000/challenge/content-images/main-cta.jpg" alt="Accept Challenge" width="400" height="35"/></a>
    </td>
    <td align="center" valign="top">
        <img src="http://cdn.yazino.com/email-content/transactional/20120927T000000/challenge/content-images/main-image.jpg" alt="Yazino Boxing Gloves - will you accept the challenge?" width="160" height="177"/>
    </td>
    <td></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

</tbody>
</table>
#parse('lobby/footer.vm')















