#if($!{gameType} == 'BLACKJACK' )
    #set($copy = "$!userName has challenged you to beat them in a game of Blackjack! Will you get the highest hand possible? Join them at the table now.")
    #set($title= "$!userName has sent you a challenge in Blackjack")
#elseif($!{gameType} == 'TEXAS_HOLDEM')
    #set($copy = "$!userName has challenged you to try your hand in Texas Hold&rsquo;em. Want to build the best five-card hand? Perfect your poker face and play them now!")
    #set($title= "$!userName has sent you a challenge in Texas Hold'em")
#elseif($!{gameType} == 'ROULETTE')
    #set($copy = "$!userName has challenged you to join them in a game of Roulette. Will you guess where the ball will land? Give the wheel a whirl and play them now!")
    #set($title= "$!userName has sent you a challenge in Roulette")
#elseif($!{gameType} == 'SLOTS')
    #set($copy = "$!userName has challenged you to join them in a game of Wheel Deal slots! Will you spin your way to big winnings? Race them at the reels now!")
    #set($title= "$!userName has sent you a challenge in Wheel Deal slots")
#elseif($!{gameType} == 'HIGH_STAKES')
    #set($copy = "$!userName has challenged you to join their team in High Stakes slots. Want to be the Boss? Move up the character ranks and play them now!")
    #set($title= "$!userName has sent you a challenge in High Stakes slots")
#end
