<style>
body {
 	font-family: Helvetica, Arial, sans-serif;
 	font-size: 10pt;
 	color: black;
 	background-color: white;
}

.footer {
 	color: rgb(120, 120, 120);
 	font-size: 8pt;
}
</style>
<p>
    Hello $!realName,
</p>
<p>
    <a href="$!{controllerUrl}?email=$!{email}&verify=$!{verificationIdentifier}">Click here to activate your new email address</a> or copy and paste the URL below into your web browser.
</p>
<p>
    $!{controllerUrl}?email=$!{email}&verify=$!{verificationIdentifier}
</p>
<p>
	If you have any questions, please contact us at contact@yazino.com or visit <a href="http://support.yazino.com">http://support.yazino.com</a>.
</p>
<p>
	We'll see you soon at Yazino. The Social Casino.
</p>
<p>
	Regards,<br>
    Your Yazino Team
</p>
<p class="footer">
    &copy; 2012 Yazino, Island House, Grande Rue, St Martins, Guernsey, GY4 6RU
</p>
