
#if ($!referralId == "")
    #set($referralId= "email_reflex_invite")
#end

<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
    <tbody>
    <tr>
        <td colspan="8">
            <img border="0" alt=""
                 src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/bottom-border4.jpg"
                 style="vertical-align:bottom;"/>
        </td>
    </tr>
    #if($includeGamesInFooter)
    <tr>
        <td colspan="8" bgcolor="#f8f8f8"
            style="border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;height:12px;width:698px;">
            &nbsp;</td>
    </tr>
    <tr>
        <td colspan="8" bgcolor="#f8f8f8"
            style="border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;width:698px;">
            <img border="0" style="margin-left:27px;vertical-align:bottom;" alt=""
                 src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/play-our-games.jpg"/>
        </td>
    </tr>
    <tr>
        <td colspan="8" bgcolor="#f8f8f8"
            style="border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;height:12px;">&nbsp;</td>
    </tr>
    <tr style="border-spacing:0px;" bgcolor="#f8f8f8">
        <td style="border-left: 1px solid #e3e3e3;line-height:0px;"><a
                href="http://www.yazino.com/highStakes?ref=$!{referralId}"><img border="0" alt="High Stakes"
                                                                                     src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/high-stakes.jpg"/></a>
        </td>
        <td style="line-height:0px;"><a href="http://www.yazino.com/blackjack?ref=$!{referralId}"><img border="0"
                                                                                                            alt="Blackjack"
                                                                                                            src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/blackjack.jpg"/></a>
        </td>
        <td style="line-height:0px;"><a href="http://www.yazino.com/texasHoldem?ref=$!{referralId}"><img border="0"
                                                                                                              alt="Texas Hold'em"
                                                                                                              src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/texas-holdem.jpg"/></a>
        </td>
        <td style="line-height:0px;"><a href="http://www.yazino.com/roulette?ref=$!{referralId}"><img border="0" alt="Roulette"
                                                                                                           src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/roulette.jpg"/></a>
        </td>
        <td style="line-height:0px;"><a href="http://www.yazino.com/wheeldeal?ref=$!{referralId}"><img border="0"
                                                                                                            alt="Wheel Deal"
                                                                                                            src="http://cdn.yazino.com/email-content/reusable-assets/20120824T000000/wheel-deal.png"/></a>
        </td>
        <td style="border-right: 1px solid #e3e3e3;line-height:0px;"><a
                href="https://www.facebook.com/Yazino/app_258647460920363"><img
                border="0" alt="Go Mobile!"
                src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/go-mobile.jpg"/></a>
        </td>
    </tr>
    <tr>
        <td colspan="8" style="line-height:0px;">
            <img border="0" alt=""
                 src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/bottom-border3.jpg"
                 style="vertical-align:bottom;"/>
        </td>
    </tr>
    #end
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
    <tbody>
    <tr>
        <td height="15">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">
            <font style="color:#707070;font-family:Helvetica, Arial, sans-serif;" size="1">
                &copy; 2012 Yazino, Island House, Grande Rue, St Martins, Guernsey, GY4 6RU</font>
        </td>
        <td align="right" style="padding-right: 0px;" width=""><a style="padding-right: 10px;"
                                                                  href="http://news.yazino.com/share-on-facebook?code=%CODE_CAMPAIGN%"><img
                src="http://cdn.yazino.com/email-content/reusable-assets/20120918T140000/fb.png" width="20"
                height="19" border="0" alt="Share on Facebook"/></a>
            <a style="padding-right: 10px;"
               href="http://twitter.com/yazino"><img
                    src="http://cdn.yazino.com/email-content/reusable-assets/20120918T140000/twitterLogo.png"
                    width="27" height="19" border="0" alt="Share on Twitter"/></a>
            <a style="padding-right: 10px;" href="http://www.youtube.com/yazinoletsplay"><img
                    src="http://cdn.yazino.com/email-content/reusable-assets/20120918T140000/youTubeLogo.png"
                    width="46" height="18" border="0" alt="View our Youtube channel"/></a>
            <a style="padding-right: 10px;" href="http://blog.yazino.com/"><img
                    src="http://cdn.yazino.com/email-content/reusable-assets/20120918T140000/Read-our-Blog.jpg"
                    width="28" height="22" border="0" alt="Read our Blog"/></a></td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td height="60">&nbsp;</td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</table>
</body>
</html>
