#set($!title = 'Hi $!realName, your Yazino password update')
#parse('lobby/header.vm')

    <!--start body-->
    <tr>
        <td colspan="4" valign="top">
            <img src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/no-article-top.jpg" width="700" height="7" alt="" style="vertical-align:top"/>
        </td>
    </tr>
    <tr>
        <td height="25"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="http://www.yazino.com/" style="text-decoration: none;"><font
                style="font-family:Helvetica, Arial, sans-serif; font-size: 18px;"
                face="Helvetica Arial" size="5">
            <b>
                <font color="#E72020" style="color: #E72020;">$!realName FORGOT SOMETHING?</font>
        </b></font></a></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td height="15"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td valign="top"><p style="margin: 0; padding: 0 0 0 0;"><font
                                style="line-height:20px;font-size:16px;font-family:Helvetica, Arial, sans-serif;color:#707070;">
Here's the password you requested: <b>$!password</b>. <br/>Get set to play by completing two simple steps:
<ol style="margin: 20px 0 0 30px; padding: 0;">
    <li style="margin-bottom: 5px;">Login to Yazino with the password above.</li>
    <li>If you'd like to change this to a password you'll remember, you can edit it from the <a href="http://www.yazino.com/player">profile</a> section at the top of the <a href="http://www.yazino.com/welcome">game lobby</a>.
        </li></ol></font></p>
            <br/>
            <a href="http://www.yazino.com/"><img src="http://cdn.yazino.com/email-content/transactional/20120516T000000/system-events/forgotten-password/content-images/main-cta.jpg" alt="GO PLAY" width="160" height="33"/></a>
        </td>
        <td align="center" valign="top">
            <img src="http://cdn.yazino.com/email-content/transactional/20120516T000000/system-events/forgotten-password/content-images/main-image.jpg" alt="Yazino Icon with a new password" width="160" height="177"/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
    #parse('lobby/footer.vm')

