#* @vtlvariable name="secureAssetUrl" type="java.lang.String" *#
#* @vtlvariable name="transactionId" type="java.lang.String" *#
<!DOCTYPE html>
<html>
<head>
    <title>Confirmation Thank You</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="$!secureAssetUrl/images/favicon.png"/>
    <link rel="stylesheet" href="$!secureAssetUrl/style/gloss/payments.css" type="text/css"/>

    #parse("payment/creditcard/libs.vm")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#payment_method_box #paiment_method_body ul li label').click(function() {
                $(this).closest('li').addClass('check');
                $(this).closest('li').siblings().removeClass('check');
                $(this).siblings('input').attr('checked', 'checked');
            });

            $('#payment_method_box #paiment_method_body ul li label.credit-cart').click(function() {
                window.location = '$!hostUrl/lobbyPartials/cashier?paymentMethodType=CREDITCARD';
            });

            $('#payment_method_box #paiment_method_body ul li label.pay-pal').click(function() {
                window.location = '$!hostUrl/lobbyPartials/cashier?paymentMethodType=PAYPAL';
            });

            $('#payment_method_box #paiment_method_body ul li label.trialpay').click(function() {
                window.location = '$!hostUrl/lobbyPartials/cashier?paymentMethodType=TRIALPAY';
            });
        });
    </script>
</head>

<body class="buy-chips-popup">
<div id="container" class="$gameType cashier_overlay">
    <div id="main" class="confirmation thank-you">
        <div id="overlay"></div>
        <div id="buy_chips_main">
            <div id="main_body">

                <div id="payment_method_box" class="box">
                    <div id="payment_title" class="cover-upper"></div>
                    <div id="paiment_method_body">
                        <ul>
                            <li class="check">
                                <input type="radio" class="paimentRadio" id="paiment_credit" name="paimentmethodradio"
                                       checked="checked" value="creditcard"/>
                                <label class="credit-cart" for="paiment_credit">Pay by credit card</label>
                            </li>
                            <li>
                                <input type="radio" class="paimentRadio" id="paiment_pay_pal" name="paimentmethodradio"
                                       value="byPayPal"
                                       onclick="window.location='$!hostUrl/lobbyPartials/cashier?paymentMethodType=PAYPAL'"/>
                                <label class="pay-pal" for="paiment_pay_pal">Pay by PayPal</label>
                            </li>
                            <li>
                                <input type="radio" class="paimentRadio" id="paiment_trialpay" name="paymentMethod"
                                       value="trialpay"/>
                                <label class="trialpay" for="paiment_trialpay">Earn Chips</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="action_box" class="box">
                    <div id="tabs" class="buy-chips"></div>
                    <div id="action_body">
                        <div id="cofirmation_Body">
                            <div class="cofirmation-status">
                                <span class="status">THANK YOU</span>
                                <span
                                        class="status-desc">You've just added $numberTool.format('###,###', $transactionValue)
                                    chips to your account.</span>
                                <a href="$hostUrl/lobbyPartials/closeCashier" class="button">start playing now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom">Have questions? Contact us at <a
                    href="http://support.yazino.com" target="_blank">support.yazino.com</a>
            </div>
            <div id="tracking" style="display: none;"><img
                    src='https://fbads.adparlor.com/Engagement/action.php?id=295&adid=785&vars=7djDxM/P1uDV4OfKs7SxjdbV1ObN4ebE3NXXz9jPwtjg1OTE58XK0Nni1Ky6vp7X3tnWwtbkwNrb5OTYs5aO1tfVtOfOqcC0'
                    alt='ApPixel'/></div>
        </div>
    </div>
</div>
</body>
</html>


