#set ($location = "Countdown")

#parse("includes/macros.vm")
#parse("includes/header.vm")

<section id="content">
    <div class="create">
        <h2>Create Countdown</h2>

        <form method="post" action="${request.contextPath}/maintenance/countdown/save">
            <fieldset>
                <legend>Details</legend>

                <label for="until">Until:</label>
                <input type="datetime-local" id="until" name="until" class="dateTimePicker" value="$until">

                <label for="gameType">Game Type:</label>
                <select id="gameType" name="gameType">
                    <option id="ALL" selected="selected">All</option>
                    #foreach ($gameType in $gameTypes)
                        <option id="$gameType">$gameType</option>
                    #end
                </select>

                <input type="submit" value="Submit"/>

            </fieldset>
        </form>
    </div>

</section>
