#set($!title = '$!{displayName}, your account has been blocked at Yazino.')
#parse('lobby/header.vm')

    <!--start body-->
    <tr>
        <td colspan="4" valign="top">
            <img src="http://cdn.yazino.com/email-content/reusable-assets/20120123T000000/no-article-top.jpg" width="700" height="7" alt="" style="vertical-align:top;"/>
        </td>
    </tr>
    <tr>
        <td height="25"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">
            <p style="margin: 0; padding: 0 0 15px 0;">
                <font style="line-height:20px;font-size:16px;font-family:Helvetica, Arial, sans-serif;color:#707070;">Hi $!{displayName},</font>
            </p>
            <p style="margin: 0; padding: 0 0 15px 0;">
                <font style="line-height:20px;font-size:16px;font-family:Helvetica, Arial, sans-serif;color:#707070;">We noticed you purchased chips in our Slots Wheel Deal game, but have since charged back the transaction to us.  In instances where this occurs, our system automatically blocks your account from logging in.</font>
            </p>
            <p style="margin: 0; padding: 0 0 15px 0;">
                <font style="line-height:20px;font-size:16px;font-family:Helvetica, Arial, sans-serif;color:#707070;">Please contact our support team if you'd like to re-enable your account and start playing games again.  You can get in touch with them by emailing <a href="mailto:contact@yazino.com">contact@yazino.com</a>. Thank you!</font>
            </p>
        </td>
        <td align="center" valign="top">
            <img src="http://cdn.yazino.com/email-content/transactional/20120516T000000/system-events/payment-unsuccessful/content-images/main-image.jpg" alt="Yazino Icon falling down" width="220" height="177"/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    </tbody>
</table>
#parse('lobby/footer.vm')
