#set ($location = "Create Tournament Variation")

#parse("includes/macros.vm")
#parse("includes/header.vm")

<section id="actions">
    <ul>
        <li><a href="${request.contextPath}/tournament/variation/list">List Variations</a></li>
    </ul>
</section>

<section id="content">
    <div class="create">
        <h2>Create Variation</h2>

        #parse("tournament/variation/form.vm")
    </div>
</section>
