<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ${appName}: http://ogp.me/ns/fb/${appName}#">
    <meta property="fb:app_id" content="${appId}"/>
    <meta property="og:type"        content="fbpayment:currency" >
    <meta property="og:url"         content="${facebookOpenGraphObjectsHost}/fbog/${objectType}/${objectId}" >
    <meta property="og:title"       content="chips" >
    <meta property="og:description" content="Yazino Chips" >
    <meta property="og:image"       content="${assetUrl}/images/gloss/1m-200x200.png" >
    <meta property="fbpayment:rate" content="50" >

</head>
</html>
