#set($redirectTo="/poker/play")
<div id="how-to-play" class="game-home TEXAS_HOLDEM">
    <div id="how-to-play-area">
        <div class="content_head"><h3 class="font-grey-window-head">TEXAS HOLDEM</h3></div>
        <div class="content_delimiter"></div>
        <div class="content">
            <div class="content_left texas_logo"></div>
            <div class="content_right">
                <div class="content_right_top" id="content_right_top">
                    #generateLinkTagForMainCta("texasHoldem" $redirectTo)
                    <div class="block1 techno-float">
                        <div class="float-left-col">
                            <h4 class="color-TEXAS_HOLDEM font-compnonlogged-texthead"><p class="pre-line">challenge
                                your friends at texas holdem
                                POKER ONLINE</p></h4>
                            <div class="paragraph font-compnonlogged-1">
                                <p class="pre-line">The most popular version of Poker - Texas Holdem is now
                                    massively multiplayer on <a href="http://www.facebook.com/Yazino" class="link1">Facebook</a>
                                    and <a href="http://www.yazino.com"
                                           class="link1">www.yazino.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="float-right-col">
                            <div id="sign-up">
                                #if (!$lobbySession)
                                    <a href="#" class="font-sign-up sign-up-texas_holdem"></a>
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="clr_b"></div>
                </div>
                <div class="content_right_middle font-compnonlogged-2" id="content_right_middle">
                    <div class="paragraph">
                        <p class="bold">What to look out for:</p>

                        <div class="middle_block">
                            <ul class="mark_TEXAS_HOLDEM">
                                <li><p class="pre-line">We've got all the game features you'd expect, including
                                    auto-posting of blinds and buying into
                                    games early. Play at multiple tables and online poker rooms.</p></li>
                            </ul>
                        </div>
                        <div class="clr_l"></div>
                    </div>
                </div>
                <div class="content_right_main">
                    <div class="content_right_main_left_overview font-compnonlogged-2" id="content_right_main_left">
                        <div class="paragraph">
                            <p class="pre-line">Like all the games on Yazino, with Texas Hold'em you choose who you
                                want to play with and then sit around the same table as them.
                                There's no download needed, so find a game, invite your friends and
                                chip in together now!</p>
                        </div>
                        <div class="paragraph">
                            <p class="pre-line">Don't worry if you're new to poker - this is one of the easiest versions
                                to learn and if you're not sure about multiplayer poker, see <a
                                        href="${request.contextPath}/rules/texasHoldem"
                                        class="underborder font-compnonlogged-2">Texas
                                    Holdem poker rules</a>.</p>
                        </div>
                    </div>
                    <div class="content_right_main_right">
                        <div class="content_right_texas_overview_block1"></div>
                    </div>
                    <div class="clr_b"></div>
                </div>
                <div class="content_right_achievements">
                    <div class="content_right_achievements_top font-grey-window-head">ACHIEVEMENTS YOU CAN WIN</div>
                    <div class="content_right_achievements_content">
                        <img src="$assetUrl/images/gloss/achievements_texas1.png" alt="" width="93" height="98">
                        <img src="$assetUrl/images/gloss/achievements_texas2.png" alt="" width="93" height="98">
                        <img src="$assetUrl/images/gloss/achievements_texas3.png" alt="" width="93" height="98">
                        <img src="$assetUrl/images/gloss/achievements_texas4.png" alt="" width="93" height="98">
                        <img src="$assetUrl/images/gloss/achievements_texas5.png" alt="" width="93" height="98">
                    </div>
                </div>
            </div>
        </div>
        <div class="content_foot"></div>
    </div>
</div>
