<div id="terms-area">
	<h3 class="font-red-head">TERMS OF PURCHASE</h3>

	<div id="terms-service">
		<h4 class="font-grey-head color-roul">1. Acceptance of Terms</h4>

		<p class=upper">THESE TERMS OF SERVICE, AS AMENDED FROM TIME TO TIME, ARE A LEGAL AGREEMENT BETWEEN YAZINO
		("YAZINO" OR "WE") AND YOU ("YOU"). YOU MUST READ AND AGREE TO THESE TERMS, INCLUDING THE PRIVACY POLICY, BEFORE
		USING THE WWW.YAZINO.COM WEBSITE AND OTHER WEBSITES, WEBPAGES, BLOGS, WIDGETS AND APPLICATIONS OWNED, OPERATED,
		LICENSED OR CONTROLLED BY YAZINO (THE "YAZINO SITES") OR ANY GAMES, PRODUCTS AND SERVICES AVAILABLE ON OR
		THROUGH THE YAZINO SITES (COLLECTIVELY, THE "SERVICES"). BY USING THE SERVICES, YOU AGREE TO THESE TERMS OF
		SERVICE. IF YOU DO NOT AGREE TO THESE TERMS OF SERVICE, DO NOT USE THE SERVICES.</p>
		<p>Users are responsible for regularly reviewing these and our other Terms. The most current version of our
			Terms can be reviewed by clicking on the link located on the Yazino Sites. If you do not agree to these
			Terms or any changes or updates, your only remedy is not to use the applicable Yazino Site and to cancel any
			accounts or Services you have signed up for. Your continued use of the Yazino Sites after a change or update
			has been made to the Terms will constitute your acceptance of such change or update.</p>

		<p>If you violate our Terms, we may issue you a warning about the violation, or we may choose to immediately
			terminate or suspend any and all accounts that you have established. You acknowledge that Yazino is not
			required to provide you notice before terminating or suspending your Service(s), but it may choose to do
			so.</p>

		<p>Yazino reserves the right to deny, in its sole discretion, any user access to the Yazino Sites or Services
			without notice for any or no reason (including, without limitation, for violation of these Terms).</p>
		<h4 class="font-grey-head color-roul">2. Purchase Terms</h4>

		<p>Yazino is not a gambling site or service - it is a Play for Fun Service for you to enjoy with your friends
			and other Yazino players. The virtual currency and virtual items on our site are for your use to play the
			Services on our Sites and cannot be "cashed in", refunded, transferred (save as allowed as part of the
			games) or exchanged for money or monies worth for any reason, including (without limitation) upon
			termination of your Yazino account for any reason, termination of this agreement, and/or discontinuation of
			the Services.</p>

		<p>YOUR PURCHASE OF CHIPS OR OTHER ONLINE CURRENCY IS FINAL AND SHALL UNDER NO CIRCUMSTANCES BE REFUNDABLE. YOUR
			PURCHASE OF CHIPS OR OTHER ONLINE CURRENCY SOLD ON THE SITES IS A PURCHASE OF A LIMITED LICENCE TO A SERVICE
			AND YOU DO NOT HAVE ANY PROPERTY INTEREST OR OWNERSHIP RIGHTS IN THE VIRTUAL CURRENCY OR VIRTUAL IN-GAME
			ITEMS.</p>

		<p>Purchases of subscriptions and any other virtual currency or virtual items sold on our site are purchases of
			a limited non-transferable, revocable license. The license may be terminated immediately if your account is
			terminated for any reason, in Yazino's sole and absolute discretion, or if Yazino discontinues providing the
			Services. The license term for the subscription typically is the term of such applicable subscription
			period, however, subscriptions may be offered in a variety of forms, including delivery of a set amount of
			virtual currency or number of virtual items during given periods or certain play for a given period.</p>

		<p>You agree that virtual currency or other virtual items will be forfeited if your account is terminated for
			any reason, in Yazino's sole and absolute discretion, or if Yazino discontinues providing the services on
			the site.</p>

		<p>In Case of Billing Error: If you were charged for items you did not purchase, or you did not receive the
			items you purchased, or if you were charged an incorrect amount, you may request a refund or correction by
			asking a question via Yazino's website's "contact" facility on our "help" page.</p>
		<h4 class="font-grey-head color-roul">3. Charges and Billing</h4>

		<p class="bold">3.1 Subscriptions</p>

		<p>Yazino will charge subscription fees to access certain Services (including certain games) and to participate
			in related activities on the Yazino Sites. SUBSCRIPTIONS ARE NON-TRANSFERABLE AND NON-REFUNDABLE. Unless
			otherwise indicated, subscriptions will not automatically renew at the end of their term.</p>

		<p class="bold">3.2 Chips and Virtual In-Game Items</p>

		<p>Whilst playing our games, you may have the opportunity to use 'chips' or other virtual currency to license a
			variety of virtual in-game items that can be used while playing various games. You may be required to pay a
			fee in order to obtain chips or other online currency.</p>

		<p>Yazino reserves the right in its sole discretion to change the number of chips or other online currency you
			will be entitled to purchase for a given fee.</p>

		<p>Yazino shall have no liability for hacking or loss of virtual in-game items from your Yazino account,
			provided that we will use reasonable efforts to replace such items under certain circumstances as in our
			absolute discretion we decide.</p>

		<p>We have no obligation or responsibility to and will not reimburse you for any virtual in-game items lost due
			to your violations of these Terms.</p>

		<p>Yazino reserves the right, without prior notification, to limit the order quantity on any virtual in-game
			item and/or to refuse to provide you with any virtual in-game item.</p>

		<p>Verification of certain information applicable to a transaction involving a virtual in-game item may be
			required prior to our acceptance thereof.</p>

		<p>Price and availability of the virtual in-game items are subject to change without notice.</p>

		<p class="bold">3.3 Fees</p>

		<p>You hereby agree to pay all fees or charges incurred by your account, including taxes, in accordance with our
			Terms and the billing terms for access to the Services that are in effect at the time that the fee or charge
			becomes payable. Unless otherwise indicated, all prices are in US Dollars and do not include Internet
			service provider, telephone, and other connection charges.</p>

		<p class="bold">3.4 Payment Options</p>

		<p class="bold">3.4.1 PayPal</p>

		<p>If you do not have a PayPal account, you may set up a free account at www.paypal.com. Yazino is not
			affiliated with PayPal.</p>

		<p class="bold">3.4.2 Credit/Debit cards</p>

		<p>Yazino is not affiliated with any debit or credit card provider.</p>

		<p class="bold">3.5 Fees Charged by Third-Party Sites</p>

		<p>We may provide links to other websites. Some of these websites may charge separate fees, which are not
			included in any subscription or other fees that you may pay to Yazino. Yazino may also provide access to
			third-party vendors who provide content, goods and/or services on the Yazino Sites or the Internet. Any
			separate charges or obligations you incur in your dealings with these third parties are your responsibility.
			Yazino makes no representation or warranty regarding any content, goods and/or services provided by any
			third-party.<br>
		</p>

		<p></p>

		<p></p>

		<p></p>

		<p align="center" class="bold"> Yazino Limited is registered in Guernsey, Company Number 54245, Registered Office: Island House, Grande Rue, St Martins, Guernsey, GY4 6RU</p>
	</div>
	<div id="terms-bottom"></div>
</div>
