<div id="terms-area">
	<h3 class="font-red-head">TERMS OF SERVICE</h3>

	<div id="terms-service">
		<h4 class="font-grey-head color-roul">1. ACCEPTANCE OF TERMS</h4>

		<p class=upper">THESE TERMS OF SERVICE, AS AMENDED FROM TIME TO TIME, ARE A LEGAL AGREEMENT BETWEEN YAZINO
		("YAZINO" OR "WE") AND YOU ("YOU"). YOU MUST READ AND AGREE TO THESE TERMS, INCLUDING THE TERMS OF PURCHASE AND
		PRIVACY POLICY, ("TERMS") BEFORE USING THE WWW.YAZINO.COM WEBSITE AND OTHER WEBSITES, WEBPAGES, BLOGS, WIDGETS AND
		APPLICATIONS OWNED, OPERATED, LICENSED OR CONTROLLED BY YAZINO (THE "YAZINO SITES") OR ANY GAMES, PRODUCTS AND
		SERVICES AVAILABLE ON OR THROUGH THE YAZINO SITES (COLLECTIVELY, THE "SERVICES"). BY USING THE SERVICES, YOU
		AGREE TO THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO THESE TERMS OF SERVICE, DO NOT USE THE SERVICES.</p>
		<p>Users are responsible for regularly reviewing these Terms. The most current version of the Terms of Service,
			Terms of Purchase and Privacy Policy can be reviewed by clicking on the relevant hypertext link located on
			the Yazino Sites. If you do not agree to these Terms or any changes or updates, your only remedy is not to
			use the applicable Yazino Site and to cancel any accounts or Services you have signed up for. Your continued
			use of the Yazino Sites after a change or update has been made to the Terms will constitute your acceptance
			of such change or update.</p>

		<p>If you violate our Terms, we may issue you a warning about the violation, or we may choose to immediately
			terminate or suspend any and all accounts that you have established. You acknowledge that Yazino is not
			required to provide you notice before terminating or suspending your Service(s), but it may choose to do so.
			Yazino reserves the right to deny, in its sole discretion, any user access to the Yazino Sites or Services
			without notice for any or no reason (including, without limitation, for violation of these Terms of
			Service).</p>
		<h4 class="font-grey-head color-roul">2. Limitations On Your Use Of The Services</h4>

		<p>Your license to use the Services is limited by these Terms. All software ("Software") made available to
			access the Services is the copyrighted work of Yazino and/or its licensors.</p>

		<p>Yazino hereby grants you a personal, non-exclusive, non-transferable, revocable, limited scope license to use
			and display the Software and the Services for your personal (or household) non-commercial use. You agree not
			to use the Services for any other purpose whatsoever, or to copy or distribute the content of the Services
			save as specifically allowed in this agreement or as specifically allowed as published within the
			Services.</p>

		<p>You also agree to be bound by any application, forum, or game specified rules published within the Services.
			You warrant that you are 13 years or older. If you are between the ages of 13 and 18, you warrant that your
			parent or legal guardian has reviewed and agreed to these Terms.</p>

		<p>You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create
			derivative works from, adapt, translate, transfer, buy, auction, rent, lease, loan or sell any game assets
			(including, without limitation, your account, characters, housing, items, credits, currency, coin or any
			other virtual in-game items or other materials appearing in or generated by the Services), information,
			software, products or services obtained from the Services, without the express written consent of Yazino.
			You hereby acknowledge and agree that you have no proprietary interest in any account, characters, housing,
			items, credits, currency, coin or any other virtual in-game items or any other materials appearing in or
			generated by the game or the Services. You may not use any software or hardware that reduces the number of
			users directly accessing or using the Services. You further agree not to create or provide any means to
			access the Services other than through the Yazino.</p>

		<p>As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or
			prohibited by the Terms. You may not use the Services in any manner that could damage, disable, overburden,
			or impair any Yazino server, or the network(s) connected to any Yazino server, or interfere with any other
			party's use and enjoyment of any Services. You may not attempt to gain unauthorised access to any Services,
			other accounts, computer systems or networks connected to any Yazino server or to any of the Services,
			through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials
			or information through any means not intentionally made available through the Services. You may not reverse
			engineer, decompile or disassemble any Software, including any proprietary communications protocol used by
			such Software.</p>
		<h4 class="font-grey-head color-roul">3. User Accounts</h4>

		<p class=upper">If any of the Services require you to open an account, you must complete the registration
		process by providing us with current, complete and accurate information (including your email address) as
		prompted by the applicable registration form.</p>
		<p>If you decide to purchase subscription-based Services, you agree that all information that you submit is true
			and accurate (including, without limitation, your billing information such as credit card number and
			expiration date), and you agree to pay all subscription fees you incur plus all applicable taxes.</p>

		<p>You may also be asked to choose a password and a user/account name. You may not use a user/account name that
			is used by someone else, is vulgar or otherwise offensive (as determined by Yazino), infringes any trademark
			or other proprietary rights of others, or is used in any way that violates the Terms of Service. You are
			entirely responsible for maintaining the confidentiality of your password and account. Furthermore, you are
			entirely responsible for any and all activities that occur under your account. You agree to notify Yazino
			immediately of any unauthorised use or theft of your account or any other breach of security (and to provide
			properly documented evidence as reasonably requested by Yazino). We will not be liable for any loss that you
			may incur as a result of someone else using your password or account, either with or without your knowledge.
			However, you will be liable for losses incurred by Yazino or another party due to someone else using your
			account or password.</p>

		<p>You may not use anyone else's account at any time.</p>

        <p>Yazino does not allow players to hold multiple active accounts. Account holders found to have multiple active accounts will be terminated from play permanently.</p>

		<p>Where the Services utilise the account management of a social networking website (such as Facebook), you are
			responsible for maintaining the confidentiality of your applicable social networking website password and
			account, and are fully responsible for all activities that occur under your account.</p>
		<h4 class="font-grey-head color-roul">4. Content</h4>

		<p>"Content" shall mean the software, communications, images, sounds, and all the material and information you
			see on the Yazino Sites, whether provided by Yazino or by users of the Services. Yazino does not pre-screen
			all Content. You bear the entire risk of the completeness, accuracy or usefulness of Content found on the
			Yazino Sites.</p>

		<p>Strong or vulgar language, crude or explicit sexual references, discussions of illegal drugs, and hate speech
			are always inappropriate Content for the Yazino Sites. Content standards may vary depending on where you are
			on the Yazino Sites, the type of game you are playing and the expectations of the community. Some game play
			and chat rooms may involve use of stronger language than others.</p>

		<p>Yazino representatives may monitor your communications on the Yazino Sites. But we cannot monitor all of the
			Content on the Yazino Sites, and we do not attempt to do so. If you encounter something you find
			objectionable and in violation of these Terms, you can report it via Yazino's website's "contact" facility
			on our "help" page. Yazino does not endorse, approve, or prescreen any Content that you or other third
			parties communicate on the Service. Yazino does not assume any responsibility or liability for Content that
			is generated by members or other guests on the Yazino Sites.</p>

		<p>Yazino and its designees shall have the right, but not the obligation, in their sole discretion to edit,
			refuse to post, or remove any Content posted in any Yazino Site. Without limiting the foregoing, Yazino and
			its designees shall have the right to remove any Content that is in violation of the provisions hereof or
			otherwise objectionable.</p>

		<p>You acknowledge and agree that all characters created and items acquired and developed as a result of game
			play are part of the applicable game Software and related Services and are the sole property of Yazino
			and/or its licensors. You acknowledge that: (i) such Software and related Services permit access to Content
			that is protected by copyrights, trademarks, and other proprietary rights owned by Yazino, and/or its
			licensors (collectively, "Rights "), and (ii) these Rights are valid and protected in all media existing now
			or later developed, and (iii) except as is explicitly provided otherwise, your use of Content shall be
			governed by the copyright laws of England and other applicable laws. You agree that you may upload or
			otherwise transmit on or through the Service only Content that is not subject to any third-party Rights, or
			Content in which any holder of Rights has given express authorisation for distribution on the Service. If
			and to the extent you are deemed to have retained, under applicable law, any right, title or interest in or
			to any portion of the Content, you hereby transfer, grant, convey, assign and relinquish solely and
			exclusively to Yazino and/or its licensors all of your right, title and interest in and to the Content,
			without reservation and without additional consideration, under applicable patent, copyright, trade secret,
			trademark and other similar laws or rights, in perpetuity, and in the alternative to the extent such
			assignment is ineffective under applicable law, you hereby grant to Yazino and/or its licensors, their
			successors and assigns, the sole and exclusive, irrevocable, sublicensable, transferable, worldwide, paid-up
			license to reproduce, fix, adapt, modify, translate, reformat, create derivative works from, manufacture,
			introduce into circulation, publish, distribute, sell, license, sublicense, transfer, rent, lease, transmit,
			publicly display, publicly perform, or provide access to electronically, broadcast, communicate to the
			public by telecommunication, display, perform, enter into computer memory, and use and practice the Content
			all modified and derivative works thereof, all portions and copies thereof in any form, all inventions,
			designs, and marks embodied therein, and all patent, copyright, trade secret, trademark and other
			intellectual property rights thereto, and/or to incorporate the same in other works in any form, media, or
			technology now known or later developed. To the extent permitted by applicable laws, you hereby waive any
			moral rights you may have in the Content.</p>
		<h4 class="font-grey-head color-roul">5. Rules Of Conduct</h4>

		<p>The Services may contain e-mail services, bulletin board services, chat areas (text and voice), news groups,
			forums, communities, personal web pages, calendars, photo albums, file cabinets and/or other message or
			communication facilities designed to enable you to communicate with others (the "Communication Services").
			You agree to use the Communication Services only to post, send and receive messages and material that are
			proper and, when applicable, related to the particular Communication Service. Yazino has no obligation to
			monitor the Communication Services. However, Yazino reserves the right to review materials posted to the
			Communication Services and to remove any materials at any time, without notice, for any reason and in its
			sole discretion. Yazino reserves the right to terminate or suspend your access to any or all of the
			Communication Services at any time, without notice, for any reason whatsoever. You acknowledge that chats,
			postings, conferences and other communications by users are not controlled or endorsed by Yazino, and such
			communications shall not be considered reviewed, screened or approved by Yazino. Statements made in forums,
			conferences, bulletin boards and chats reflect only the views of their authors. Yazino specifically
			disclaims any liability with regard to the Communication Services and any actions resulting from your
			participation in any Communication Services. Managers and hosts are not authorized Yazino spokespersons, and
			their views do not necessarily reflect those of Yazino.</p>

		<p>You acknowledge and agree that your communications with other users via the Communications Services are
			public and not private communications, and that you have no expectation of privacy concerning your use of
			these Communications Services. You acknowledge that personal information that you communicate on the
			Communications Services may be seen and used by others and result in unsolicited communications; therefore,
			we strongly encourage you not to disclose any personal information about yourself in your public
			communications on our Services. Yazino is not responsible for information that you choose to communicate to
			other users via the Communications Services, or for the actions of other users.</p>

		<p>Yazino reserves the right at all times to disclose any information or materials found on the Communications
			Services as Yazino deems necessary to satisfy any applicable law, regulation, legal process or governmental
			request, or to edit, refuse to post or to remove any such information or materials, in whole or in part, in
			Yazino's sole discretion.</p>

		<p>In furtherance of the foregoing, and by way of example and not as a limitation, you agree that you may not
			access or use the Services and/or related Communication Services, in order to:</p>

		<p> - Use such Services in connection with surveys, contests, pyramid schemes, chain letters, junk email,
			spamming or any duplicative or unsolicited messages (commercial or otherwise).</p>

		<p> - Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy
			and publicity) of others.</p>

		<p> - Publish, post, upload, transmit, distribute or disseminate Content that is harmful, abusive, vulgar,
			sexually explicit, defamatory, libellous, obscene, infringing, embarrassing, unwanted,invasive of another's
			right of privacy or publicity, hateful or racially, ethnically or, in a reasonable person's view, otherwise
			offensive or objectionable.</p>

		<p> - Use, upload, transmit, distribute or otherwise make available any material or information, including
			images or photographs, which are made available through such Services in any manner that infringes any
			copyright, trademark, patent, trade secret, or other right of any party (including rights of privacy or
			publicity).</p>

		<p> - Upload files that contain viruses, Trojan horses, worms, time bombs, cancel bots, corrupted files or data,
			or any other similar software or programs that may damage the operation of the Services or other users'
			computers.</p>

		<p> - Except as expressly authorised by Yazino, advertise or offer to sell or buy any goods or services for any
			purpose, unless the Services specifically allow such messages.</p>

		<p> - Falsify, delete or disable any copyright management information, such as author attributions, legal or
			other proper notices or proprietary designations or labels of the origin or source of software or other
			material contained in a file that is uploaded.</p>

		<p> - Restrict or inhibit any other user from using and enjoying the Services. For example, disrupting the flow
			of chat in chat rooms with vulgar language, abusiveness, hitting the return key repeatedly, inputting
			excessively large images so the screen goes by too fast to read, use of excessive SHOUTING (all caps) in an
			attempt to disturb other users, "spamming," or flooding (continuous posting repetitive text), are
			prohibited.</p>

		<p> - Collect in any way personal information about others, including e-mail addresses, or use such information
			to send unsolicited emails.</p>

		<p> - Violate any applicable laws or regulations, or promote or encourage any illegal activity including,
			without limitation, hacking, cracking or distribution of counterfeit software, or cheats or hacks for the
			Services or the Software.</p>

        <p> - Impersonate or create a false identity (such as a celebrity or Yazino
			representative) for the purpose of misleading others.</p>

		<p> - Use, download or otherwise copy, or provide (whether or not for a fee) to a person or entity any directory
			of users of such Services or other user or usage information or any portionthereof Attempt to get a
			password, other account information, or other private information from a member or any other user of such
			Services.</p>

		<p> - Improperly use in-game support or complaint buttons or make false reports to Yazino administrators.</p>

        <p> - Use, develop or distribute "auto" software programs, "macro" software programs or other "cheat
			utility" software program or applications in violation of the applicable License Agreements.</p>

		<p> - Use a bulletin board or other Communications Service in any manner other than for personal communication
			as an individual user (i.e. not as a corporation or other entity).</p>

		<p> - Use the Yazino Sites, Services or Software to resell or make any commercial use of the Yazino Sites,
			Services or Software, or otherwise commercially exploit the same, without the prior express written consent
			of Yazino.</p>

		<p> - Use the Services for fraudulent transactions including, without limitation, in-game virtual transactions.</p>

        <p> - Sell, buy, or transfer access to your account You will not exploit, distribute or publicly
			communicate any game error, miscue or bug which gives an unintended advantage.</p>

		<p>Where applicable each user will either select a character name or allow Yazino to automatically select a
			character name at random. Where users create a character name or otherwise create a label that can be used
			by players of Yazino's games, users will abide by the following guidelines contained in these Terms of
			Service. Users will not use a name which (a) belongs to another person with the intent to impersonate that
			person; (b) contains, or is substantially similar to a trademark or service mark, whether registered or not;
			(c) that incorporates a 'swear' word or is otherwise offensive, vulgar, obscene, hateful, or racially,
			ethnically or otherwise objectionable; (d) belongs to a popular culture figure, celebrity or media person;
			(e) belongs to any religious figure or deity; (f) comprises gibberish; (g) in any way infringes these Terms
			of Service.</p>
		<h4 class="font-grey-head color-roul">6. Communications</h4>

		<p>By subscribing to the Services, subscribers understand they may receive periodic information regarding
			current and future Services offered on the Yazino Sites. In addition, such subscribers may be automatically 
			entered into future contests and sweepstakes for subscribers as long as they meet the applicable eligibility
			 requirements, and also agree to all rules and conditions of those contests and sweepstakes. You may
			unsubscribe from any of these Services at any time by following the procedures made available with the
			applicable Services.</p>
		<h4 class="font-grey-head color-roul">7. Ownership</h4>

		<p>The Services, including, without limitation, all Software and Content, contains copyrighted material,
			trademarks and other proprietary information (including, without limitation, images, photographs,
			animations, video, audio, music, text, and "applets" incorporated into the Software and character data). The
			entire contents of the Service and each area contained therein are copyright protected as a collective work
			under the laws of England. Yazino owns a copyright in the selection, coordination, arrangement and
			enhancement of such Content. You acknowledge that Yazino, and/or its licensors remain the owners of all
			right, title, and interest, including copyrights and other intellectual property rights, in and to all
			materials posted on the Services by Yazino and derivative works thereof, and that you do not acquire any of
			those ownership rights by accessing such materials.</p>
		<h4 class="font-grey-head color-roul">8. Jurisdictional Issues and Export Control Laws</h4>

		<p>The Services are controlled and operated by Yazino from its offices within the United Kingdom. Yazino makes
			no representation that Software and other materials available through the Services are appropriate or
			available for use in other locations. Those who choose to access the Services from other locations do so on
			their own initiative and are responsible for compliance with local laws, if and to the extent local laws are
			applicable.</p>

        <p>You agree to abide by applicable export control laws and not to transfer, by electronic
			transmission or otherwise, any Content or any Software or other materials subject to restrictions under such
			laws to a national destination prohibited by such laws, without first obtaining, and then complying with,
			any requisite government authorisation. You further agree not to upload to the Yazino Sites any data or
			software that cannot be exported without prior written government authorisation, including, but not limited
			to, certain types of encryption software.</p>
		<h4 class="font-grey-head color-roul">9. Termination of Account</h4>

		<p>Yazino has the right to terminate or suspend, and you have the right to cancel, your account(s) or a
			particular subscription at any time. You understand and agree that, except as expressly provided by law, the
			cancellation of your account or a particular subscription is your sole right and remedy with respect to any
			dispute with Yazino. This includes, but is not limited to, any dispute related to, or arising out of: (1)
			these Terms or our enforcement or application of these Terms; (2) the Content or Services available through
			the Yazino Sites or any change in such Content; (3) your ability to access and/or use the Services; or (4)
			the amount or type of fees, surcharges, applicable taxes, billing methods, or any change to the fees,
			applicable taxes, surcharges or billing methods.</p>

		<p>You can cancel your account(s) or a particular subscription for a Service by following the procedures made
			available with the applicable Service. Yazino reserves the right to collect fees, surcharges or costs
			incurred before you cancel your account(s) or a particular subscription. In the event that your account or a
			particular subscription is terminated, suspended or cancelled, no refund will be granted; no online time or
			other credits or in-game items (e.g., points in an online game) or virtual currency will be credited to you
			or converted to cash or other form of reimbursement, and you will have no further access to your account or
			anything associated with it (such as points, tokens or in-game items). If your account is terminated or
			suspended by Yazino, Yazino shall have the right to terminate or suspend any of your other account(s).</p>

		<p class=upper">FOR THE PURPOSES OF CLARITY, SUSPENSION OR TERMINATION OF YOUR YAZINO ACCOUNT(S) OR
		SUBSCRIPTION(S) SHALL NOT AFFECT YOUR SOCIAL NETWORKING WEBSITE ACCOUNT(S).</p>
		<h4 class="font-grey-head color-roul">10. Links to Third-Party Sites</h4>

		<p>The links to third party sites appearing on the Yazino Sites will let you leave the Yazino Sites. These
			linked sites are not controlled by Yazino and may collect date or solicit personal information from you.
			Yazino is not responsible for such linked sites, Content, business practices or privacy policies, or for the
			collection, use or disclosure of any information by those sites may collect. Yazino provides such linked
			sites only as a matter of convenience and the inclusion of any link does not imply an endorsement by Yazino
			of such linked sites.</p>
		<h4 class="font-grey-head color-roul">11. Disclaimer of Warranty; Limitation of Liability</h4>

		<p>To the maximum extent allowed by law, neither Yazino nor its affiliates, subsidiaries, officers, directors,
			stockholders, employees, licensors, distributors, sublicensees, agents or subcontractors (collectively, the
			"Yazino Parties") warrant any connection to, transmission over, or results or use of, any network connection
			or facilities provided (or failed to be provided) through the Yazino Sites or Services. You are responsible
			for assessing your own computer and transmission network needs, and the results to be obtained therefrom.
			From time to time, we may scan your computer to confirm it meets minimum system specifications and you
			hereby agree to provide information in connection with technical support issues including, without
			limitation, bug reports.</p>

		<p class=upper">YOU EXPRESSLY AGREE THAT THE USE OF THE YAZINO SITES, SERVICES AND SOFTWARE, AND THE INTERNET IS
		AT YOUR SOLE RISK. THE YAZINO SITES, SERVICES AND SOFTWARE, AND ANY OTHER THIRD-PARTY SERVICES AND PRODUCTS, ARE
		PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS FOR YOUR USE, WITHOUT WARRANTIES OF CONDITION OF ANY KIND,
		EITHER EXPRESS OR IMPLIED, UNLESS SUCH WARRANTIES OF CONDITION ARE LEGALLY INCAPABLE OF EXCLUSION. YAZINO
		PROVIDES THE SERVICES ON A COMMERCIALLY REASONABLE BASIS AND DOES NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR
		USE THE SERVICES AT TIMES OR LOCATIONS OF YOUR CHOOSING, OR THAT YAZINO WILL HAVE ADEQUATE CAPACITY FOR THE
		SERVICES AS A WHOLE OR IN ANY SPECIFIC GEOGRAPHIC AREA. THE YAZINO PARTIES ASSUME NO RESPONSIBILITY FOR ANY
		DAMAGES SUFFERED BY YOU, INCLUDING, BUT NOT LIMITED TO, LOSS OF DATA, GAME PLAY, ITEMS, VIRTUAL CURRENCY, OR
		CHARACTERS, FROM DELAYS, NONDELIVERIES, ERRORS, SYSTEM DOWN TIME, MISDELIVERIES OR SERVICE INTERRUPTIONS CAUSED
		BY THE YAZINO PARTIES, OR BY YOUR OR ANY OTHER USER'S OWN ERRORS AND/OR OMISSIONS.</p>
		<p class=upper">YOU ACKNOWLEDGE AND AGREE THAT TO THE MAXIMUM EXTENT PERMISSIBLE BY LAW THE PARTIES ARE NOT
		LIABLE FOR ANY ACT OR FAILURE TO ACT BY THEM OR ANY OTHER PERSON REGARDING CONDUCT, COMMUNICATION OR CONTENT ON
		THE SERVICES OR USE OF THE YAZINO SITES, SERVICES OR SOFTWARE. YOU ACKNOWLEDGE AND AGREE THAT YOUR SOLE AND
		EXCLUSIVE REMEDY FOR ANY DISPUTE WITH YAZINO IS TO STOP USING THE SERVICE, AND TO CANCEL YOUR ACCOUNT(S). IN NO
		CASE SHALL THE LIABILITY OF YAZINO TO YOU EXCEED THE AMOUNT THAT YOU PAID TO YAZINO OR ITS DESIGNEES DURING THE
		PRIOR ONE (1) MONTH PERIOD FOR THE APPLICABLE SERVICES GIVING RISE TO ANY SUCH LIABILITY. IN NO CASE SHALL
		YAZINO BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE OR CONSEQUENTIAL DAMAGES ARISING FROM YOUR USE
		OF THE YAZINO SITES, SERVICES AND SOFTWARE, THE INTERNET OR FOR ANY OTHER CLAIM RELATED IN ANY WAY TO YOUR USE
		OF THE SERVICES OR INTERACTIONS WITH YAZINO. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
		THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, THE
		LIABILITY OF YAZINO SHALL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW. YAZINO DOES NOT ENDORSE, WARRANT OR
		GUARANTE
		E ANY THIRD-PARTY PRODUCT OR SERVICE OFFERED THROUGH THE YAZINO SITES AND WILL NOT BE A PARTY TO OR IN ANY WAY
		BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>
		<p class=upper">YAZINO MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION CONTAINED IN THE
		DOCUMENTS AND RELATED GRAPHICS PUBLISHED AS PART OF THE SERVICES FOR ANY PURPOSE.</p>
		<p class=upper">THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED ON THE YAZINO SITES AND SERVICES COULD INCLUDE
		TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. YAZINO MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SERVICES
		DESCRIBED IN THESE TERMS OF SERVICE AT ANY TIME.</p>
		<h4 class="font-grey-head color-roul">12. General</h4>

		<p>These Terms are governed by the laws of England and Wales and you hereby submit to the exclusive jurisdiction
			of the English courts.</p>

		<p>Yazino may assign these Terms, in whole or in part, at any time.</p>

		<p>Yazino's performance of this agreement is subject to existing laws and legal process, and nothing contained
			in these Terms is in derogation of Yazino's right to comply with governmental, court, and law enforcement
			requests or requirements relating to your use of the Services or information provided to or gathered by
			Yazino with respect to such use.</p>

		<p>You agree to indemnify and hold the Yazino, harmless from any claim, demand, or damage, including reasonable
			legal fees, asserted by any third-party due to or arising out of your use of or conduct on the Services. If
			any part of these Terms are determined to be invalid or unenforceable pursuant to applicable law including,
			but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or
			unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely
			matches the intent of the original provision and the remainder of these Terms shall continue in effect.</p>

		<p>These Terms, including the documents expressly incorporated by reference, constitute the entire agreement
			between you and Yazino with respect to the Services and such agreements supersede all prior or
			contemporaneous communications, whether electronic, oral or written, between you and Yazino with respect to
			the Services. You represent that you have not relied on any such communications in choosing to accept these
			Terms. A printed version of these Terms and of any notices given in electronic form shall be admissible in
			judicial or administrative proceedings based upon or relating to this agreement to the same extent and
			subject to the same conditions as other business documents and records originally generated and maintained
			in printed form. Yazino's failure to enforce at any time any of the provisions of these Terms shall in no
			way be construed to be a present or future waiver of such provisions, nor in any way affect the right of any
			party to enforce each and every such provision thereafter. The express waiver by Yazino of any provision,
			condition or requirement of these Terms shall not constitute a waiver of any future obligation to comply
			with such provision, condition or requirement.</p>

		<p>Notwithstanding anything else in these Terms, no default, delay or failure to perform on the part of Yazino
			shall be considered a breach of these Terms if such default, delay or failure to perform is shown to be due
			to causes beyond the reasonable control of Yazino. All notices given by you or required under these Terms
			shall be in writing and addressed to: Yazino Century House, 12 Victoria Street, Alderney GY9 3UF. Yazino may
			give notice to you by means of a general notice on the Services, electronic mail to your e-mail address on
			record in Yazino's account information, or by written communication sent by first class mail, postage
			prepaid, or overnight courier to your address on record in Yazino's account information.</p>

		<p>The parties hereto have requested that this agreement, and all correspondence and all documentation relating
			to this agreement, be written in the English language.</p>

		<p align="center" class="bold"> Yazino Limited is registered in Guernsey, Company Number 54245, Registered Office: Island House, Grande Rue, St Martins, Guernsey, GY4 6RU</p>
	</div>
	<div id="terms-bottom"></div>
</div>
