#set ($location = "Edit User")

#parse("includes/macros.vm")
#parse("includes/header.vm")

<section id="actions">
    <ul>
        <li><a href="${request.contextPath}/admin/user/list">List Users</a></li>
        <li><a href="${request.contextPath}/admin/user/show/${user.userName}">Cancel Edit</a></li>
    </ul>
</section>

<section id="content">
    <div class="create">
        <h2>Edit User ${user.userName}</h2>

        #parse("admin/user/form.vm")
    </div>
</section>
