#if ($facebookApplicationId)
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
    $(document).ready(function () {
        try {
            FB.init({
                appId: '${facebookApplicationId}',
                channelUrl: '${hostUrl.replaceFirst("^https?://", "//")}/channel.html',
                status: true,
                cookie: true,
                xfbml: true,
                oauth: true,
                frictionlessRequests: true
            });

            if (document.documetMode && document.compatMode == "CSS1Compat") { ## then IE
                FB.XD._origin = (window.location.protocol + '//' + window.location.host + '/' + FB.guid());
            }
            if(YAZINO && YAZINO.facebookService){
                YAZINO.facebookService.init();
            }
        } catch (e) {
            if (console) {
                console.error('Facebook init broke');
                console.error(e);
            }
        }
    });
</script>
#end
