#parse ('partials/partialHeader.vm')
<script type="text/javascript">
    <!--
    $().ready(function() {
        $("#email").focus();
    });
    //-->
</script>

<div class="forgot-password">

    <form method="POST" action="?partial=1" class="loginForm">
        <fieldset>
            <h1>FORGOT YOUR PASSWORD</h1>
            <p>Enter your email address and we'll send you a new password.</p>

            <p class="error">
                #springBind("resetPassword")
                #springShowErrors("<br>" "error")
            </p>

            <p>
                <label for="email">Email </label>#springFormInput("resetPassword.email" "required")
            </p>
            <p>
                <input type="hidden" name="game" value="${esc.html($game)}"/>
                <input type="submit" id="recover-password-btn" class="loginButton" value="RECOVER"/>
            </p>
        </fieldset>
    </form>
    #if($partial)
        <input type="button" class="lightboxKillerClose yaz-std-close-button" value="Close"/>
    #end
</div>
#parse ('partials/partialFooter.vm')
