#set ($location = "Show Recurring Tournament")

#parse("includes/macros.vm")
#parse("includes/header.vm")

<section id="actions">
    <ul>
        <li><a href="${request.contextPath}/tournament/recurring/list">List Recurring Tournaments</a></li>
        <li><a href="${request.contextPath}/tournament/recurring/edit/${definition.id}">Edit</a></li>
    </ul>
</section>

<section id="content">
    <div class="show">
        <h2>Recurring Tournament ${definition.id}</h2>

        #set($readonly = "true")
        #parse("tournament/recurring/form.vm")
    </div>
</section>
