<a href="https://itunes.apple.com/app/slots-wheel-deal-by-yazino/id422074428" data-platform="ios" data-game="Wheel Deal" target="_blank"><img src="${assetUrl}/images/games/SLOTS/appstore-ios.png"/></a>
<a href="https://play.google.com/store/apps/details?id=air.com.yazino.android.slots" data-platform="android" data-game="Wheel Deal" target="_blank"><img src="${assetUrl}/images/games/SLOTS/appstore-googleplay.png"/></a>
