<a href="https://itunes.apple.com/app/high-stakes-slots-by-yazino/id542345087" target="_blank">
    <img src="$!{assetUrl}/images/hs_app_banner_canvas.png" data-platform="ios" data-game="High Stakes" alt="SLOTS: Available on the App Store"/>
</a>
