<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>Yazino</title>
 <link rel="stylesheet" href="/maintenance/style.css" type="text/css" />
</head>
<body id="maintenance-medal">
  <div class="body">
    <span class="sp1">Our site is down for</span>
    <span class="sp2">maintenance</span>
    <span class="sp3">while we make some updates to our games</span>
    <span class="sp4">Please come back &amp; play soon</span>
    <span class="sp5">Questions? Drop us a line at <a href="mailto:contact@yazino.com">contact@yazino.com</a></span>
    <span class="sp6">&nbsp;</span>
  </div>
</body>
</html>