<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>Yazino</title>
 <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body id="maintenance-umbrella">
  <div class="body">
    <span class="sp1">Oops!</span>
    <span class="sp2">Something has gone wrong.</span>
    <span class="sp3">Please come back soon.</span>
  </div>
</body>
</html>