<link rel="stylesheet" href="$!assetUrl/style/gloss/payments.css" type="text/css"/>
<script src="${assetUrl}/javascript/jquery-1.8.3.min.js"></script>
#if ($development)
    <script type="text/javascript" src="$!assetUrl/javascript/yazino-core.js"></script>
    <script type="text/javascript" src="${assetUrl}/javascript/browserDetect.js"></script>
#else
    <script type="text/javascript" src="$!assetUrl/javascript/yazino-core.min.js"></script>
#end
